.error-page-main-section {
    margin: auto 1vw auto 1vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    height: 100vh;
}

.error-page-content-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.back-to-home-butotn-container {
    justify-self: center;
}

.back-to-home-button {
    background: var(--ocean-green);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 3px;
    width: fit-content;
}

.back-to-home-button:hover {
    background: #29a56c;
}

.back-to-home-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.back-to-home-button-image-container {
    width: 20px !important;
}

.back-to-home-button-image-container img {
    width: 100% !important;
}

.error-page-content-container img {
    width: 25%;
}

@media (max-width: 900px) {
    .error-page-content-container img {
        width: 70%;
    }

    .error-page-main-section {
        padding: 0 5vw;
        margin: 0;
    }
}