:root {
    --page-title: 50px;
    --title: 40px;
    --sub-title: 24px;
    --sub-sub-title: 20px;
    --text: 16px;
    --white: #ffffff;
    --black: #000000;
    --rhino: #253d4e;
    --gray: #7e7e7e;
    --gray-line: rgba(126, 126, 126, 0.15);
    --ocean-green: #3bb77e;
    --yellow-orange: #FDC040;
    --container-border-radius: 100px;
    --button-border-radius: 10px;
    --button-padding: 15px 20px;
    --max-width-mobile: 900px;
    --min-width-desktop: 1280px;
}

html {
    overscroll-behavior: contain;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand_Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

.text {
    font-size: var(--text);
}

.title {
    font-size: var(--title);
}

.page-title {
    font-size: var(--page-title);
}

.sub-title {
    font-size: var(--sub-title);
}

.sub-sub-title {
    font-size: var(--sub-sub-title);
}

.quicksand-text {
    font-family: 'Quicksand';
}

.lato-text {
    font-family: 'Lato';
}

.ocean-green-text {
    color: var(--ocean-green)
}

.rhino-text {
    color: var(--rhino)
}

.white-text {
    color: var(--white)
}

.gray-text {
    color: var(--gray)
}

.ocean-green-background {
    background-color: var(--ocean-green)
}

.rhino-background {
    background-color: var(--rhino)
}

.gray-background {
    background-color: var(--gray)
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--gray-line);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--ocean-green);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--ocean-green);
}

.all-products-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.admin-section {
    margin: 40px 1vw;
}

@media (max-width: 900px) {

    .admin-section {
        margin: 50px 5vw;
    }
}

.admin-header-home-button a,
.admin-header-logout-button a {
    background: var(--ocean-green);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 3px;
}

.admin-header-home-button a:hover,
.admin-header-logout-button a:hover {
    background: var(--yellow-orange);
}

.admin-header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-self: center;
}

.admin-page-title {
    text-align: center;
}