.footer-section {
    margin: auto 1vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-newsletter-section {
    width: 100%;
    padding: 100px 5% 0 5%;
    background-image: url("https://themepanthers.com/wp/nest/d1/wp-content/uploads/2022/02/banner-10-min.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 20px 20px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsletter-subscribe-content-container h1 {
    width: 100%;
}

.newsletter-subscribe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newsletter-subscribe-content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.newsletter-subscribe-image-container {
    width: 50%;
    justify-content: right;
    text-align: right;
}

.newsletter-subscribe-image-container img {
    width: 90%;
    justify-content: right;
    text-align: right;
}

.newsletter-subscribe-input-container {
    width: 65%;
    display: flex;
    padding: 5px;
    border: 2px solid var(--ocean-green);
    border-radius: 5px;
    overflow: hidden;
    background: white;
    height: fit-content;
    gap: 5px;
}

.newsletter-subscribe-input-container input {
    flex: 1;
    border: none;
    padding: 10px 20px;
    outline: none;
    font-family: 'Lato', sans-serif;
}

.newsletter-subscribe-input-container a {
    background: var(--ocean-green);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 3px;
}

.newsletter-subscribe-input-container a:hover {
    background: var(--yellow-orange);
}

.newsletter-subscribe-input-container input,
.newsletter-subscribe-input-container button {
    line-height: 1;
}

.footer-features-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-feature-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 19%;
    background-color: #f4f6fa;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.footer-feature-image-container {
    width: 20%;
}

.footer-feature-image-container img {
    width: 100%;
}

.footer-feature-content-container {
    width: 75%;
}

.footer-feature-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--ocean-green);
    padding-bottom: 50px;
}

.footer-menu-main-content-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-menu-items-container {
    width: 65%;
}

.footer-menu-items-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu-items-content-container a {
    width: max-content;
}

.footer-menu-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu-category-container {
    width: 23.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-description-container p {
    line-height: 1.5;
}

.footer-info-container {
    line-height: 1.5;
}

.footer-info-item-image-container {
    width: 35px;
}

.footer-info-item-image-container img {
    width: 100%;
}

.footer-info-item-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.footer-ending-section {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .footer-section {
        margin: auto 5vw;
    }

    .footer-newsletter-section {
        padding: 20px 5% 0 5%;
    }

    .newsletter-subscribe-container {
        flex-direction: column;
        gap: 15px;
    }

    .newsletter-subscribe-content-container,
    .newsletter-subscribe-image-container,
    .newsletter-subscribe-input-container {
        width: 100%;
    }

    .newsletter-subscribe-input-container input {
        padding: 10px 10px;
    }

    .footer-features-section {
        flex-direction: column;
        gap: 15px;
    }

    .footer-feature-container {
        width: 100%;
    }

    .footer-menu-section {
        flex-direction: column;
    }

    .footer-menu-items-container,
    .footer-menu-main-content-container {
        width: 100%;
    }

    .footer-menu-items-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-menu-category-container {
        margin-bottom: 25px;
        width: 48%;
    }
}