<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <section class="error-page-main-section">
        <div class="error-page-content-container">
            <img src="https://ik.imagekit.io/intmarket/404.png" alt="">
            <h1 class="title quicksand-text rhino-text">Oops! Why you’re here?</h1>
            <p class="text lato-text rhino-text">We are very sorry for inconvenience. It looks like you’re try to access
                a page that either has been deleted or never existed.</p>
            <div class="back-to-home-butotn-container">
                <a href="/" class="back-to-home-button">
                    <div class="back-to-home-button-image-container">
                        <img src="https://ik.imagekit.io/intmarket/icons8-home-100.png" alt="">
                    </div>
                    <p class="white-text text quicksand-text">Back to Home</p>
                </a>
            </div>
        </div>
    </section>
</body>

</html>